@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #F3D9C4;
}

header{
    position: relative;
    top: 0;
    background: #222A33;
    width: 100%;
    padding: 55px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    width: 100px;
}

header .navigation a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #D05032;
}

.dev{
    text-align: center;
    position: relative;
}

.dev h1{
    color: #222A33;
    text-transform: uppercase;
    line-height: 38rem;
}

footer {
    background: #222A33;
    padding-top: 40px;
    color: #fff;
    position: relative;
    margin-top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #222A33;
}

.footer-content h3{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 5rem;
}

.footer-content p{
    max-width: 600px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
    font-weight: 200;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #D05032;
}

.footer-bottom{
    background: #85321f;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.ligne1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ligne2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ligne3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ligne4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.card{
    width: 300px;
    height: 420px;
    position: relative;
    background-color: #1b2229;
    border-radius: 20px;
}

.product-img{
    width: 300px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.product-img img
{
    width: 300px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.certif-word{
    color: #d4ac0d;
}

.frfab{
    color: #fff;
}

.product-detail{
    width: 300px;
    height: 190px;
    background-color: #222A33;
    border-radius: 0 40% 20px 20px;
    padding: 0.8rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.rating{
    font-size: 0.7rem;
    color: #fdcc0d;
    user-select: none;
}

.product-detail p{
    font-size: 0.8rem;
    color: #5f5f6b;
    margin-top: 15px
}

.buttons{
    height: 65px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.1rem;
}

.btn{
    position: relative;
    border: none;
    outline: none;
    background-color: #D05032;
    color: #fff;
    height: 40px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.cart{
    width: 160px;
    margin-right: 25px;
}

.favourite{
    width: 40px;
    border-radius: 50%;
}

.certif{
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #35353f;
    height: 45px;
    transition: 0.3s;
}

.cart::before{
    width: 165px;
    border-radius: 50px;
}

.favourite::before{
    width: 45px;
    border-radius: 50%;
}

.btn:hover::before{
    border-color: #fff;
}



