@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f1c9a8;
}

header{
    position: relative;
    top: 0;
    background: #222A33;
    width: 100%;
    padding: 55px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    width: 100px;
}

header .navigation a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #D05032;
}

.services{
    background: #f1c9a8;
    text-align: center;
}

.services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #D05032;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service:hover{
    background: #f1c29b;
}

.service i{
    color: #D05032;
    font-size: 35px;
    margin-bottom: 30px;
}

.service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.service p{
    font-size: 15px;
    font-weight: 500;
}

footer {
    background: #222A33;
    padding-top: 40px;
    color: #fff;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 5rem;
}

.footer-content p{
    max-width: 600px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
    font-weight: 200;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #D05032;
}

.footer-bottom{
    background: #85321f;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}



